.projects-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--color-bg);
    animation: generalfade 0.5s  ease-in-out;
}

h2.projects-header {
    font-size: var(--font-size-header);
    font-weight: lighter;
    font-family: var(--font-header);
}

.projects-container hr {
    width: 50%;
    border-color: var(--color-text);
}

.projects-par {
    font-size: 1.5rem;
}

.p-links-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.project-link {
    transition: 0.2s;
    font-size: var(--font-size-extra-text);
}

.project-link:hover {
    color: var(--color-hover);
}


/*---TABLET SIZE*/
@media screen and (max-width: 920px) {
    h2.projects-header {
        font-size: 3rem;
    }
    .projects-par {
        font-size: 2rem;
    }

  }

  /*---MOBILE SIZE*/
  @media screen and (min-width: 270px) and (max-width: 420px) {
    h2.projects-header {
        font-size: var(--font-size-subheader);
        margin-bottom: 0.5rem;
    }
    /* .projects-par {
        font-size: 1.2rem;
    } */
     .project-link {
        font-size: var(--font-size-extra-text);
     }

  }

    /*---MOBILE SIZE FLIP*/

  @media screen and (min-height: 275px) and (max-height: 450px) {
    .projects-container {
        padding: 0;
        padding-bottom: 5rem;
    }

    h2.projects-header {
         margin-top: 7rem;
        font-size: var(--font-size-subheader);
        margin-bottom: 0;
    }

    /* .projects-par {
        font-size: 1.2rem;
        margin-bottom: 0;
    } */

  }